@model IEnumerable<imobiliaria.Web.Imovei>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Negocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteDono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorretorGestor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorretorNegocio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Negocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fotos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteDono.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorretorGestor.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorretorNegocio.Cpf)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImovelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImovelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImovelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
